<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="brandID" value="148" />
        <add key="brandName" value="Big Lots -532" />
        <add key="clientStoreID" value="9994" />
        <add key="intStoreID" value="25473" />
        <add key="robotLocation" value="C:\Users\MC5266.ZGN\PycharmProjects\zrs-qa-robot-smartcount-2" />
    </appSettings>
</configuration>